{% block sidebar %}
<!-- Blog Search Widget -->
<div class="card mb-4 shadow-sm">
    <h5 class="card-header bg-dark text-white">Blog Search</h5>
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button">
                    <i class="bi bi-search"></i> <!-- Utilizza le icone di Bootstrap Icons -->
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Blog Categories Widget -->
<div class="card mb-4 shadow-sm">
    <h5 class="card-header bg-dark text-white">Blog Categories</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                    <li><a href="#" class="text-decoration-none text-primary">Category Name</a></li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
</div>

<!-- Side Widget -->
<div class="card mb-4 shadow-sm">
    <h5 class="card-header bg-dark text-white">Side Widget</h5>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
</div>
{% endblock %}
